apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m0s
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      version: "*"
  install:
    createNamespace: true
  values:
    # Enable ping endpoint for health checks
    # Accessible at http://<loadbalancer-ip>/ping
    ping:
      entryPoint: web

