apiVersion: v1
kind: Service
metadata:
  name: traefik-ping
  namespace: traefik
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: ping
  selector:
    app.kubernetes.io/name: traefik
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-ping
  namespace: traefik
spec:
  entryPoints:
    - web
  routes:
    - match: Path(`/ping`)
      kind: Rule
      services:
        - name: traefik-ping
          port: 8080

