apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  # nfs-pv.yaml excluded - PV already exists and is immutable
  # PVC references the existing PV
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml

